<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mordor - Registration</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/css/master.css">
</head>
<body>
    <main>
        <section class="_inner">
            <h1>Formulaire d'inscription</h1>
            <form id="registerForm">
                <label for="login">Login</label>
                <input
                    type="text"
                    placeholder="Pseudonyme"
                    name="login"
                    id="formLogin"
                    autocomplete="off"
                >

                <label for="email">Email</label>
                <input
                    type="email"
                    placeholder="Email"
                    name="email"
                    id="formEmail"
                    autocomplete="off"
                >

                <label for="password">Password</label>
                <input type="password" name="password" id="formPassword" autocomplete="off">

                <label for="password2">Repeat password</label>
                <input type="password" name="password2" id="formPassword2" autocomplete="off">

                <input type="submit" value="Inscription">
            </form>
        </section>
    </main>
    <script src="/js/master.js"></script>
</body>
</html>
