<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mordor - Registration</title>
    <link rel="stylesheet" href="/css/master.css">
</head>
<body>
    <main>
        <h1>Formulaire d'inscription</h1>
        <form id="registerForm">
            <label for="nom">Nom</label>
            <input type="text" name="nom" autocomplete="false">

            <label for="email">Email</label>
            <input type="email" name="email" autocomplete="false">

            <label for="password">Password</label>
            <input type="password" name="password" autocomplete="false">

            <input type="submit">
        </form>
    </main>
    <script src="/js/master.js"></script>
</body>
</html>
